// styles/Header.module.scss
@use '../styles/mixins' as *;

header {
  @include flex-cont(row, nowrap, center, space-between, 0px);
  height: 90px;
  background-color: black;
  padding: 0 5%;
  border-bottom: 2px solid gray;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  h1 {
    color: white;
    @media screen and (max-width:500px) {
      font-size: 26px;
    }
    @media screen and (max-width:390px) {
      font-size: 22px;
    }
  }

  .containerLogo {
    @include flex-cont(row, nowrap, center, center, 24px);
  }
}
